In [5]:
import pandas as pd
from sklearn.preprocessing import StandardScaler,MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder

Reading CSV FIle Using Pandas

In [6]:
df=pd.read_csv(r"PD1.csv")
df.head(10)

  Student_Name  Hours  Marks   Course
0        Alice    2.0     50     Math
1          Bob    4.0     70  Science
2      Charlie    6.0     85  English
3        David    8.0     95     Math
4          Eve    3.0    NaN  Science
5        Frank    NaN     65     Math
6        Grace    5.0  fifty  English
7         Hank    7.0     90  Science
8          Ivy    4.5     72     Math
9         Jack    6.0     85  English

Checking Missing Values

In [3]:
df.isnull().sum()

Student_Name    0
Hours           7
Marks           2
Course          0
dtype: int64

Converting Object Type(string or categorical) into Numerical

In [8]:
df["Marks"]=pd.to_numeric(df["Marks"],errors="coerce")
df.head(3)

  Student_Name  Hours  Marks   Course
0        Alice    2.0   50.0     Math
1          Bob    4.0   70.0  Science
2      Charlie    6.0   85.0  English

Filling Missing Values with Mean

In [9]:
df["Marks"]=df["Marks"].fillna(df["Marks"].mean())
df["Hours"]=df["Hours"].fillna(df["Hours"].mean())
df.isnull().sum()

Student_Name    0
Hours           0
Marks           0
Course          0
dtype: int64

In [ ]:
df_Labe3=df

Encode All the categorical values into number

In [ ]:
x1=OneHotEncoder()
e=x1.fit_transform(df[["Student_Name","Course"]]).toarray()
e_df=pd.DataFrame(e,columns=x1.get_feature_names_out(["Student_Name","Course"]))
df_Labe3=pd.concat([df_Labe3,e_df],axis=1)
df=df_Labe3
df.to_csv("PD2.csv",index=False)

Normalize all the numerical value to remove outliers

In [ ]:
x2=MinMaxScaler()
df_Labe3=df
df_Labe3[["Marks","Hours"]]=x2.fit_transform(df_Labe3[["Marks","Hours"]])
df=df_Labe3
df.to_csv("PD2.csv",index=False)

Drop Unnecessary Columns After Encoding

In [ ]:
df.drop(columns=["Student_Name","Course"],inplace=True)

Save the Clean Data in CSV File

In [ ]:
df.to_csv("PD2.csv",index=False)

Spilting Data for Model Traning (y=mx + b)

In [ ]:
x=df["Hours"]
y=df["Marks"]
x_train,x_test,y_train,y_text=train_test_split(x,y,test_size=0.2,random_state=42)